<%= link_to "Post a Job", new_job_path %>

<ul class="slats">
  <% @jobs.each do |job| %>
    <li class="slat">
      <h2><%= link_to job.title, job_path(job) %></h2>
      <p><%= job.company %></p>
    </li>
  <% end %>
</ul>
