<% content_for :right do %>
  <%= link_to "Post a Job", new_job_path %>
<% end %>

<ul class="job-items">
  <% @jobs.each do |job| %>
    <li class="job-item">
      <%= link_to job_path(job) do %>
        <span class="job-item-title"><%= job.title %></span>
        <span class="job-item-company"><%= job.company %></span>
        <span class="job-item-city">Raleigh</span>
      <% end %>
    </li>
  <% end %>
</ul>
