.top-bar {
  background-color: $white;
  border-bottom: $base-border;
  margin-bottom: $large-spacing;
  padding: $base-spacing;

  h1 {
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;

    a {
      color: $base-font-color;
    }
  }
}

.top-bar-right {
  @include position(absolute, $base-spacing $base-spacing null null);
  line-height: 1;
}

.top-bar-left {
  @include position(absolute, $base-spacing null null $base-spacing);
  line-height: 1;
}
